<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <TITLE> С праздником весны! - Цифровая открытка  </TITLE>
    <meta property="og:title" content="С праздником весны! - Цифровая открытка " />
<meta property="og:image" content="http://logall.net/images/flower.jpg" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/easydropdown.css">
</head>
<body>
<a href="http://www.partner.co.il/ru"><img src="/images/logo.gif" class='logo'></a>
<div class="container">
    <form action='/' method='post' enctype='multipart/form-data'>
        <div class="cols">
            <div class="col col-3">
                <select name="wellcome" class="dropdown">
                    <option value="Дорогая">Дорогая</option>
                    <option value="Любимая">Любимая</option>
                    <option value="Милая">Милая</option>
                    <option value="Родная">Родная</option>
                    <option value="Чудесная">Чудесная</option>
                    <option value="Свет очей моих">Свет очей моих</option>

                </select>
            </div>
            <div class="col col-3">
                <select name="who" class="dropdown">
					<option value="Мама">Мама</option>
					<option value="Сестра">Сестричка</option>
					<option value="Подружка">Подружка</option>
					<option value="Племянница">Племянница</option>
					<option value="Бабушка">Бабушка</option>
					<option value="Женушка">Женушка</option>
					<option value="Внученька">Внученька</option>
					<option value="Теща">Теща</option>
					<option value="Свекровь">Свекровь</option>

                </select>
            </div>
            <div class="col col-3">
                <select name="wish" class="dropdown">
                <option value="С праздником весны">С праздником весны</option>
							<option value="С праздником красоты">С праздником красоты</option>
							<option value="С женским днем">С женским днем</option>
							<option value="С праздником">С праздником</option>
							<option value="С лучшим днем в году">С лучшим днем в году</option>
							<option value="Поздравляем">Поздравляем</option>
							<option value="За женщин">За женщин</option>
							<option value="За милых дам">За милых дам</option>
				</select>
            </div>
            <div class="col col-3">
                <input type="file" name="photo" id="photo" accept="image/*" data-multiple-caption="{count} files selected" />
                <label for="photo"><span>Загрузить фото</span></label>
            </div>
        </div>

        <% if (error) { %>
        <div class="cols">
            <div class="col">
                <div class="message"><%= error %></div>
            </div>
        </div>
        <% } %>

        <div class="cols">
            <div class="col">
                <div class="card">
                    <div class="tl">
                        <div id="wellcome">Дорогая</div>
                        <div id="who">Мама</div>
                        <img src="/images/flower.jpg" alt="">
                    </div>
                    <div id="main-image">
                        <img src="/images/main-image.jpg" alt="">
                    </div>
                    <div class="border">
                        <img src="/images/border.png" alt="">
                    </div>
                    <div id="wish">С праздником!</div>
                    <div id="event">8 Марта</div>
                </div>
            </div>
        </div>
        <div class="cols">
            <div class="col">
                <input class="btn btn-save" type="submit" value="Создать">
            </div>
        </div>
    </form>
</div>
<script src="/js/jquery-1.8.0.min.js"></script>
<script src="/js/jquery.easydropdown.js"></script>
<script src="/js/jquery.custom-file-input.js"></script>
<script src="/js/card.js"></script>
</body>
</html>