<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <TITLE> С праздником весны! - Цифровая открытка  </TITLE>
    <meta property="og:title" content="С праздником весны! - Цифровая открытка " />
<meta property="og:image" content="http://logall.net/images/flower.jpg" />
    <title><%= object.welcome %> <%= object.who %>, <%= object.which %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/easydropdown.css">
</head>
<body>
<a href="http://www.partner.co.il/ru"><img src="/images/logo.gif" class='logo'></a>
<div class="container">
    <div class="cols">
        <div class="col">
            <div class="card">
                <div class="tl">
                    <div id="wellcome"><%= object.welcome %></div>
                    <div id="who"><%= object.who %></div>
                    <img src="/images/flower.jpg" alt="" class="print">
                </div>
                <div id="main-image">
                    <% if (object.image) { %>
                    <img src="/uploads/<%= object.image %>" alt="">
                    <% } else {%>
                    <img src="/images/main-image.jpg" alt="">
                    <% } %>
                </div>
                <div class="border">
                    <img src="/images/border.png" alt="">
                </div>
                <div id="wish"><%= object.which %></div>
                <div id="event">8 Марта</div>
            </div>
        </div>
    </div>
    <br/>
    <div class="cols">
        <div class="col">
            <div class="soc">
            <style>
            a.pluso-more { display: none !important; } 
            </style>
                <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=02" data-services="vkontakte,odnoklassniki,facebook,livejournal,twitter,google,bookmark,email"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>