* {
    margin: 0;
    padding: 0;
    outline: 0;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    box-sizing: border-box;
}

.cols:before, .cols:after {
    display: table;
    content: " ";
}

.cols:after {
    clear: both;
}

.wraper {
    display: table;
    height:100%;
    margin: 0 auto;
}

.container {
   /* display: table-cell; */
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 990px;
    }
}

.container .cols {
    margin-right: -15px;
    margin-left: -15px;
}

.container .col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (max-width: 480px) {
    .container .col.col-3 {
        margin-bottom: 15px;
    }
}

@media (min-width: 480px) {
    .container .col.col-3 {
        width: 50%;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .container .col.col-3 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .container .col.col-3 {
        width: 25%;
    }
}

html, body {
    height:100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #030303;
    min-width: 320px;
}


.btn {
    background: #56ddd0;
    padding: 12px;
    display: block;
    border: 5px solid #000;
    text-align: center;
}

.btn:hover {
    background: #d1d3d4;
    cursor: pointer;
}

.btn-save {
    padding: 12px;
    width: 30%;
    margin: 60px auto 30px auto;
    font-weight: bold;
    font-size: 30px;
}
 
@media (max-width: 992px) {
    .btn-save {
        width: 100%;
    }
}


.dropdown {
    font-size: 16px;
}

.card {
    position: relative;
}

.card .tl {
    position: absolute;
    width: 50%;
    top: 8.27%;
    left: 4.8%;
    max-width: 422px;
}

.card .tl img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 20%;
}

@media (max-width: 640px) {
    .card .tl img {
        display: none;
    }
}

@media (max-width: 992px) {
    .card .tl {
        width: 32%;
    }
    .logo {
    width: 35%;
}
}

@media (max-width: 640px) {
    .card .tl {
        width: 80%;
        max-width: none;
    }
     .logo {
    width: 45%;
}
}
@media (max-width: 480px) {
    .card .tl {
        position: relative;
        width: auto;
        left: auto;
        right: auto;
    }
}

#wellcome, #who, #wish, #event {
    padding: 12px;
    border: 5px solid #000;
    position: absolute;
    background: #fff;
    font-weight: bold;
    line-height: 100%;
    font-size: 30px;
    text-align: center;
    z-index: 0;
}

@media (max-width: 768px) {
    #wellcome, #who, #wish, #event {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    #wellcome, #who, #wish, #event {
        font-size: 1em;
    }
}

#wellcome, #who {
    position: relative;
    width: 70%;
}

@media (max-width: 640px) {
    #wellcome, #who {
        width: 51%;
    }
}

@media (max-width: 480px) {
    #wellcome {
        float: left;
        width: 50%;
    }
}

#who {
    margin-top: -5px;
    float: right;
}

@media (max-width: 640px) {
    #who {
        margin-right: -5px;
    }
}

@media (max-width: 480px) {
    #who {
        margin: 0;
        border-left: 0;
        width: 50%;
    }
}

#wellcome, #wish {
    background: #56ddd0;
}

#wish {
    bottom: -25px;
    left: 14.33%;
    width: 60%;
}

@media (max-width: 992px) {
    #wish {
        left: 8.33%;
        width: 68%;
    }
}

@media (max-width: 480px) {
    #wish {
        float: none;
        bottom: auto;
        left: auto;
        position: relative;
        border-bottom: 0;
        font-size: 1.5em;
    }
}

#event {
    background: #e7e7e8;
    font-size: 60px;
    right: 60px;
    bottom: 35px;
    padding: 15px 20px;
}

@media (max-width: 992px) {
    #event {
        right: 3.33%;
        font-size: 45px;
    }
}

@media (max-width: 640px) {
    #event {
        font-size: 2.5em;
        bottom: 35px;
    }
}

@media (max-width: 480px) {
    #event {
        position: relative;
        font-size: 2em;
        right: auto;
        bottom: auto;
        width: auto;
    }
}

.border {
    text-align: right;
}

.border img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 480px) {
    .border {
        display: none;
    }
}

#main-image {
    width: 50%;
    max-width: 480px;
    position: absolute;
    top: 20%;
    right: 130px;
    text-align: right;
    z-index: -1;
}

@media (max-width: 992px) {
    #main-image {
        right: 14.8%;
    }
}

@media (max-width: 640px) {
    #main-image {
        top: 24%;
        left: 4.8%;
        right: auto;
    }
}

@media (max-width: 480px) {
    #main-image {
        width: auto;
        top: auto;
        left: auto;
        right: auto;
        position: relative;
        text-align: center;
    }
}

#main-image img {
    max-width: 100%;
    height: auto;
}

#photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#photo:focus, #photo + label {
    background: #56ddd0;
    padding: 12px;
    display: block;
    border: 2px solid #000;
    text-align: center;
}

#photo:focus:hover, #photo + label:hover {
    background: #d1d3d4;
    cursor: pointer;
}

#photo:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#photo + label * {
    pointer-events: none;
}

.soc {
    text-align: center;
    padding: 40px 0;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.message {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.hidden {
    display: none;
}

@media print { 
#event {
    background-color: #eee;
    position: absolute;
    z-index: 9999
}

.print {
    display: none
}

}